extends layout.pug

block content
    div(class='apanel')
        ul
            li
                i(class="material-icons") account_circle
            li
                i(class="material-icons") build
            li
                i(class="material-icons") dashboard
    div(class='col2')
