doctype html
html
  head
    title Admin - #{title}
    block scripts
        link(rel="stylesheet", href="/static/css/admin.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    block content
