doctype html
html
  head
    title Admin - #{title}
    block scripts
        link(rel="stylesheet", href="/static/css/admin.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='/static/js/adminmain.js')
  body
    block notification
        div(class='notification')
            div(class='notifcontent')
                p Test
            div(class='closenotif')
    block content
        block navbar
            div(class='apanel')
                ul
                    a(href='/admin/users')
                        li
                            i(class="material-icons") account_circle
                    a(href='/admin/setting')
                        li
                            i(class="material-icons") build
                    a(href='/admin/edit')
                        li
                            i(class="material-icons") dashboard
        div(class='layout')
            div(class='colnav')
            div(class='colcontent')
                block innercontent
