mixin intro(imgLink, mainText, subText)
    div(class='col2 centerVert')
        img(class='mainImg' src=imgLink)
    div(class='col8 centerVert leftBorder padLeft')
        h1(class='mainText')= mainText
        h2(class='subText')= subText
