doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/static/css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald|Raleway|Roboto")
  body
    div(class='navbar')
        ul
            each val in nav
                li=val
    each val,index in nav
        div(class='mainpanel ver' + index)
            div(class='centerDiv')
                if(index==0)
                    div(class='header')
                        h1 Kacey Cleveland
                        p Sub

