extends layout.pug
include sections/descrip.pug
include sections/intro.pug
include sections/list.pug
block content
    div(class='userdisp')
        if(user.passport != null && user.passport.user != null)
            if(user.passport.user.isAdmin)
                a(href='/admin') Admin
            a(href='/logout') Logout
            p= user.passport.user.dispName
        else
            a(href='/auth/google') Login
    nav(class='navbar')
        ul
            each val,index in navLink
                li
                    a(href='#'+val)= nav[index]
    div(id='fullpage')
        each val,index in navType
            section(class='section')
                div(class='mainpanel ver' + index style={background: bg[index]})
                    div(class='centerDiv')
                        div(class='navcol centerVert')
                        if(val==0)
                            +intro(dat[index].img, dat[index].maintext, dat[index].subtext)
                        if(val==1)
                            +descrip(dat[index].text1, dat[index].text2)
                        if(val==2)
                            +list(dat[index].dat)
