doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/static/css/main.css")
    link(rel="stylesheet", href="/static/css/jquery.fullPage.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald|Raleway|Roboto")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/static/js/jquery.fullPage.js')
    script(src='/static/js/main.js')
  body
    div(class='navbar')
        ul
            each val,index in navLink
                li
                    a(href='#'+val)= nav[index]
    div(id='fullpage')
        each val,index in nav
            div(class='section')
                div(class='mainpanel ver' + index)
                    div(class='centerDiv')
                        if(index==0)
                            div(class='col4 centerVert')
                                h2 test
                            div(class='col8 centerVert')
                                h1 Kacey Cleveland
                                h2 Computer Science and Statistics
