doctype html
html
  head
    title My Site - #{title}
    block scripts
        link(rel="stylesheet", href="/static/css/main.css")
        link(rel="stylesheet", href="/static/css/jquery.fullPage.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald|Raleway|Roboto")
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='/static/js/jquery.fullPage.js')
        script(src='/static/js/main.js')
  body
    block content
