body {
    background-color: #eeeeee;
    margin: 0;
}

.layout ul {
    list-style: none;
    padding: none;
    -webkit-padding-start: 0;
}

.editblock {
    margin-right: 1.25%;
    float: right;
    width: 98.75%;
    height: auto;
    background-color: white;
    margin-bottom: 20px;
}
.apanel {
    position: fixed;
    text-align: center;
    width: 2.5%;
    min-width: 30px;
    height: 90vh;
    top: 50%;
    left: 1.25%;
    transform: translate(-1.25%, -50%);
    -webkit-transform: translate(-1.25%, -50%);
    -moz-transform: translate(-1.25%, -50%);
    -o-transform: translate(-1.25%, -50%);
    -ms-transform: translate(-1.25%, -50%);
    background-color: gray;
    border-radius: 5px;
}

.apanel ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.apanel ul li {
    margin: 5px 0 5px 0;
    border-bottom: 1px solid black;
}

.layout {
    display: table;
    position: absolute;
    /*padding: 2em 2em 2em 2em;*/
    width: 100%;
    min-width: 1300px;
}

.colnav {
    width: 5%;
    display: table-cell;
    height: auto;
}

.colcontent {
        width: 95%;
    display: table-cell;
    height: auto;
}
